*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    height: 100%;
    width: 100%;
}
a{
    text-decoration: none;
}
.container{
    max-width: 70vw;
    padding: 2rem 1rem;
    margin: 0 auto;
    
}
.header_container{
    margin-bottom: 2.8rem;
}
.header_title{
    margin-bottom: 1rem;
    font-size: 1.7rem;
    line-height: 2rem;
    font-weight: 700;
    text-align: center;
}
.header_desc{
    max-width: 568px;
    text-align: center;
    color: rgb(105,99,99);
    margin: 0 auto;
}
.main_conatiner{
    display: grid;
    gap: 1.5rem;
    /*grid-template-rows: repeat(2,1fr);
    grid-template-columns: repeat(4,1fr);*/
    grid-template-columns: repeat(auto-fit, minmax(380px, 500px));
   justify-content: center;
}
/*@media (min-width:650px){
    .main_conatiner{
        grid-template-columns: repeat(2,1fr);
    }
}
@media (min-width:1080px){
    .main_conatiner{
        grid-template-columns: repeat(3,1fr);
    }
}
@media (min-width:1340px){
    .main_conatiner{
        grid-template-columns: repeat(4,1fr);
    }
}*/
.card_container{
    overflow: hidden;
    display: flex;
    flex-direction: column;
    border: 1px solid rgb(199, 193, 193);
    border-radius:8px;
}
.card_img_container{
    position: relative;
    overflow: hidden;
    height: 7rem;
}
@media(min-width:768px)
{
    .card_img_container{
        height: 12rem;
    }
}
.card_img{
    object-fit: cover;
    object-position: center;
    position: absolute;
    height: 100%;
    width: 100%;
}

.card_container:hover .card_img{
    transform: scale(1.1);
    transition-duration: 200ms;
}
.txtbox{
    display: flex;
    flex-direction: column;
    padding: 1.5rem;
}
.txt_title{
    font-size: 1rem;
    font-weight: 600;
    line-height: 1.5rem;
    color: black;
    margin-bottom: 0.3rem;
}
.txt_title_anchor:hover .txt_title{
    color: rgb(32, 32, 122);
}
.txt_desc{
    font-size: 1rem;
    color: rgb(105,99,99);
}
.abtbox{
    display: flex;
    justify-content: space-between;
    padding: 0 1.5rem;
    align-items: flex-end;
    padding-bottom: 1.5rem;
}
.leftbox{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1rem;
}
.logo_container{
    height: 2.5rem;
    width: 2.5rem;
    overflow: hidden;
    border: 1px solid rgb(108, 101, 101);
    border-radius: 50%;
    background-color: rgb(172, 167, 167);
}
.author_info{
    display: flex;
    flex-direction: column;
}
.author_name{
    color: rgb(10, 10, 112);
}
.author_dob{
    color: rgb(141, 129, 129);
}
.rightbox{
    font-size: 0.79rem;
    border: 1px solid rgb(63, 61, 61);
    border-radius: 5px;
    line-height: 1.3rem;
    padding: 0.25rem 0.5rem;
    color: rgb(59, 59, 59);
    font-weight: 600;
}